<nav class="navbar navbar-light bg-light">
  <div>
    <input class="search form-control m-2" type="search" placeholder="Search Alloment" aria-label="Search"  [(ngModel)] = "hid">
    <button class="btn btn-outline-success m-2" type="submit" (click) = "viewallotmentbyhid()">Search by Hostel Id</button>
  </div>
  <!-- <div>
    <input class="search form-control m-2" type="search" placeholder="Delete Alloment" aria-label="Delete"  [(ngModel)] = "id">
    <button class="btn btn-outline-success m-2" type="submit" (click) = "deleteallotment()">Delete by Alloment Id</button>
  </div> -->
<a  routerLink='/allotment/add' class="btn btn-outline-success m-2 addallotment" type="button">Add Alloment</a>
</nav>

<div class="row">
  <div class="alert alert-danger col-md-4 mt-2 mb-0" *ngFor="let e of errorMsgs">
    <p class="text-center">{{ e }}</p>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="alert alert-success">
        {{ successMsg }}
      </div>
      <div class="table-responsive">
        <!-- <form> -->
        <table class="table text-center" style="background-color: #cfe2ff;">
          <thead>
            <tr>
              <th scope="col">Alloment Id</th>
              <th scope="col">Student Id</th>
              <th scope="col">Room Id</th>
              <th scope="col">Hostel Id</th>
              <th scope="col">Hostel Name</th>
              <th>Deallocate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of allotment">
              <td>{{ a.id }}</td> <!-- [(ngModel)] = "id"-->
              <td>{{ a.student.id }}</td>
              <td>{{ a.room.roomId }}</td>
              <td>{{ a.hostel.id}}</td>
              <td>{{ a.hostel.name}}</td>
              <td>
                <button class="btn btn-danger" (click)="deallocateStudent(a.id)">Deallocate</button>   
              </td>
            </tr>
          </tbody>
        </table>
        <!-- </form> -->
      </div>
      
    </div>
  </div>
  
</div>