<div class="container">
  <div class="row d-flex justify-content-center" *ngIf="responseMsg!=undefined">
    <div class="alert alert-success col-md-4 mt-2 mb-0">
      <p class="text-center">{{ responseMsg }}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 login-form-card">
      <h3 class="text-center">Add New Allotment</h3>

      <div class="alert alert-danger" *ngIf="errorMsgs.length > 0">
        <p *ngFor="let e of errorMsgs">{{ e }}</p>
      </div>
      <form #addAllotmentForm="ngForm" (ngSubmit)="addAllotment()">
        <!--hostel feild with options -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Choose Hostel to Allocate </label>
          <select class="form-select" name="txthost" [(ngModel)]="allotmentdto.hostelId" #alloHostel="ngModel" (change)="onHostelChange($event)" required>
            <option value="{{ h.id }}" *ngFor="let h of hostels">{{ h.name }} - {{ h.type }}</option>
          </select>
        </div>
        <div *ngIf="alloHostel.invalid && alloHostel.touched" class="alert alert-danger">
            <div *ngIf="alloHostel.errors.required">Hostel is required</div>
        </div>
        <!-- students feild with options -->

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Choose Student to Allocate </label>
          <select class="form-select" name="txtstud" [(ngModel)]="allotmentdto.studentId" #alloStudent="ngModel" required>
            <option value="{{ s.id }}" *ngFor="let s of student">{{ s.name }} - {{ s.gender | titlecase }}</option>
            
          </select>
        </div>
        <div *ngIf="alloStudent.invalid && alloStudent.touched" class="alert alert-danger">
            <div *ngIf="alloStudent.errors.required">Student is required</div>
        </div>
      <!-- room feild with options -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Choose Room to Allocate </label>
          <select class="form-select" name="txtROOM" [(ngModel)]="allotmentdto.roomId" #alloRoom="ngModel" required>
            <option value="{{ r.roomId }}" *ngFor="let r of rooms">{{ r.roomId }} - {{ r.roomNo }}</option>
            
          </select>
        </div>
        <div *ngIf="alloRoom.invalid && alloRoom.touched" class="alert alert-danger">
            <div *ngIf="alloRoom.errors.required">Room is required</div>
        </div>
      <!-- submit button -->
        <div class="row">
          <input type="submit" value="Add Allotment" class="btn btn-success btn-block mt-2" [disabled]="!addAllotmentForm.valid" />
        </div>
      </form>
    </div>
  </div>
  </div>
      