.form-group{
    margin-bottom: 1.5vh;
    margin-bottom: 1rem;
}

#type{
    width: 20rem;
}

#female{
    margin-left: 5rem;
}

.back, .addhostel{
    margin: 1rem 0;
}

.form{
    max-width: 100vw;
    margin: auto;
    
    padding: 20px;
    background-color: #cfe2ff;
    margin-top: 20px;
    margin-bottom: 12%;
  }

.form-control{
    
    max-width: 100vw;
}

/* .addhostel{
    width: 6rem;

  } */