<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-6">
      <input class="search form-control m-2" type="search" [(ngModel)]="searchItem" placeholder="Search Student" aria-label="Search">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <button class="btn btn-outline-success btn-block m-2" type="submit" (click)="searchById()">Search by ID</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-success btn-block m-2" type="submit" (click)="searchByName()">Search by Name</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-outline-success btn-block m-2" type="submit" (click)="searchByMobile()">Search by Mobile Number</button>
    </div>
    
  </div>
  <div class="row d-flex justify-content-center" *ngIf="searchErr.length != 0">
    <div class="col-md-4">
      <p class="alert alert-danger text-center d-flex justify-content-center" *ngFor="let e of searchErr">
        {{ e }}
      </p>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table" style="background-color: #cfe2ff;">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Address</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Guardian Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students">
              <td>{{ student.id }}</td>
              <td>{{ student.name | titlecase}}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.gender | titlecase }}</td>
              <td>{{ student.dob }}</td>
              <td>{{ student.address }}</td>
              <td>{{ student.mobile }}</td>
              <td>{{ student.guardianName | titlecase }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  
</div>