<div class="container">
  <div class="row d-flex justify-content-center" *ngIf="responseMsg!=undefined">
    <div class="alert alert-success col-md-4 mt-2 mb-0">
      <p class="text-center">{{ responseMsg }}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 login-form-card">
      <h3 class="text-center">Add New Warden</h3>
      
      <div class="alert alert-danger" *ngIf="errorMsgs.length > 0">
        <p *ngFor="let e of errorMsgs">{{ e }}</p>
      </div>
      <form #addWardenForm="ngForm" (ngSubmit)="addWarden()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Warden Name</label>
          <input type="text" class="form-control" name="txtname" [(ngModel)]='wardendto.name' #wardName="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div *ngIf="wardName.invalid && wardName.touched" class="alert alert-danger">
            <div *ngIf="wardName.errors.required">Name is required</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="txtemail" [(ngModel)]="wardendto.email" #wardEmail="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+\.[a-z]+$">
        </div>
        <div *ngIf="wardEmail.invalid && wardEmail.touched" class="alert alert-danger">
            <div *ngIf="wardEmail.errors.required">Email is required</div>
            <div *ngIf="wardEmail.errors.pattern">Email is not valid</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Choose Hostel to Allocate Warden</label>
          <select class="form-select" name="txthost" [(ngModel)]="wardendto.hostelId" #wardHostel="ngModel" required>
            <option value="{{ h.id }}" *ngFor="let h of hostels">{{ h.name }}</option>
            
          </select>
        </div>
        <div *ngIf="wardHostel.invalid && wardHostel.touched" class="alert alert-danger">
            <div *ngIf="wardHostel.errors.required">Hostel is required</div>
        </div>

        
        <div class="row">
          <input type="submit" value="Add Warden" class="btn btn-success btn-block mt-2" [disabled]="!addWardenForm.valid" />
        </div>
      </form>
    </div>
  </div>
  </div>