*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-section {
  background: #fff;
  width: 100%;
  position: sticky;
  bottom: 0;

}

footer p{
  color: rgb(192, 192, 192);
}

nav{
  position: sticky;
  top: 0;
  z-index: 99;
}

a{
  /* border-radius: 8px; */
  padding: 1rem;
}

a:hover{
  background-color: #004D40;
  color:white;
}

a:active{
  background-color: rgb(27, 26, 26);
  color: white;
}


img{
  max-height: 3rem;
  pointer-events: none;
  margin: 0 1rem;
  border-radius: 50%;
  border: 0.2px solid #004D40;
  box-shadow: 2px 2px 8px #004D40;
}


.nav-item, .nav-link{
  margin: 0;
}

.fa {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  padding-right: 1vw;
  padding-left: 1vw;
}

.nav-link{
  padding: 1vw;
}