* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.navbar-toggler-icon {
  max-width: 25px;
}


.footer-section {
  background: #fff;
  width: 100%;
  /* position: sticky;
  bottom: 0; */

}

footer p {
  color: rgb(192, 192, 192);
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
}

a {
  /* border-radius: 8px; */
  padding: 1rem;

  /* transition: border-left 0.5s; */
}

a:hover {
  background-color: #004D40;
  color: white;
  /* border-left: 2px solid rgb(27, 26, 26); */
}

a:active {
  background-color: rgb(27, 26, 26);
  color: white;
}


img {
  max-height: 3rem;
  pointer-events: none;
  margin: 0 1rem;
  border-radius: 50%;
  border: 0.2px solid #004D40;
  box-shadow: 2px 2px 8px #004D40;
}


.nav-item,
.nav-link {
  margin: 0;
}

.fa {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  padding-right: 1vw;
  padding-left: 1vw;
}

.nav-link {
  padding: 1vw;
}

/* .footer-wrapper {
  position: relative;
  height: 0;
  z-index: -9999;
}

.footer-wrapper p {
  position: absolute;
  left: 42%;
  color: #ffffff;
  bottom: 100%;
}

.footer-section svg {
  margin-top: -20%;
}

@media screen and (max-width: 768px) {

  .footer-wrapper p {
    left: 21%;
    position: fixed;
    bottom: 2%;
    font-size: 12px;
  }

  .footer-section svg {
    margin-top: 0%;
  }

} */
