<header class="p-2 text-center" style="background-color: #26A69A;">
  <h1 class="text-center" style="color: #fff;">Hostel Management System</h1>
</header>
<article><hr>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #26A69A">
     <div class="container-fluid">
    <!--  <a class="navbar-brand" href="#">
        <span style="color: #fff;">Hostel</span>
        <img src="../assets/image2vector.svg" alt="">
      </a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" style="color: #fff;"><i class="fa fa-home"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hostel/view" style="color: #fff;">Hostel</a>
          </li>
          <!-- start copy -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
              Manage Students
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/student/view">View all Students</a></li>
              <li><a class="dropdown-item" routerLink="/student/add">Add New Student</a></li>
            </ul>
          </li>
          <!-- end copy -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
              Manage Rooms
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/room/view">View all Rooms</a></li>
              <li><a class="dropdown-item" routerLink="/room/add">Add New Room</a></li>
              <li><a class="dropdown-item" routerLink="/">View Rooms by Hostel ID</a></li>
              <li><a class="dropdown-item" routerLink="/">View Rooms by Floor and Hostel ID</a></li>
              <li><a class="dropdown-item" routerLink="/">View Rooms available by Hostel ID</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
              Manage Wardens
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/warden/view">View all Wardens</a></li>
              <li><a class="dropdown-item" routerLink="/">Add New Warden</a></li>
              <li><a class="dropdown-item" routerLink="/">View Warden by wardenId</a></li>
              <li><a class="dropdown-item" routerLink="/">View Warden by hostelId</a></li>
            </ul>
          <li class="nav-item">
            <a class="nav-link" routerLink="/warden/view" style="color: #fff;">Warden</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/visitor/view" style="color: #fff;">Visitor</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/login" style="color: #fff;">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</article>

<footer class="footer-section">
  <p class="text-center">Copyright &copy; 2021, Team 7 - JEE-FS-22Mar</p>
</footer>