.footer-section {
  background: #fff;
  width: 100%;
  position: sticky;
  bottom: 0;

}

footer p{
  color: rgb(192, 192, 192);
}

nav{
  position: sticky;
  top: 0;
  z-index: 99;
}

a{
  border-radius: 8px;
  padding: 1rem;
}

a:hover{
  background-color: #004D40;
}