<div class="container">
  <div class="row d-flex justify-content-center" *ngIf="responseMsg.length > 0">
    <div class="alert alert-success col-md-4 mt-2 mb-0" *ngIf="responseMsg.length == room">
      <p class="text-center">{{ responseMsg }}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 login-form-card">
      <h3 class="text-center">Add New Room</h3>

      
      <div class="alert alert-danger" *ngIf="errorMsgs.length > 0">
        <p *ngFor="let e of errorMsgs">{{ e }}</p>
      </div>
     
      <form #addRoomForm="ngForm" (ngSubmit)="addRoom()">
        

         <!-- Added code 
          validation doesnt work
        -->
      <div class="mb-3">
        <label for="noOfRooms" class="form-label">No of Rooms</label>
        <input type="number" class="form-control" name="txtnum" [(ngModel)]="noOfRooms" #roomno="ngModel" id="noOfRooms" aria-describedby="emailHelp" value="1" min="1" required>
      </div>
      <div *ngIf="roomno.invalid && roomno.touched" class="alert alert-danger">
        <div>No of Room is required</div> <!-- *ngIf="roomno.value < 1"-->
    </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Room Desc</label>
          <input type="text" class="form-control" name="txtdesc" [(ngModel)]="roomDto.roomDesc" #rdesc="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required >
        </div>
        <div *ngIf="rdesc.invalid && rdesc.touched" class="alert alert-danger">
            <div *ngIf="rdesc.errors.required">Room Description is required</div>
            
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Choose Hostel to Allocate Room</label>
          <select class="form-select" name="txthost" [(ngModel)]="roomDto.hostel_id" #roomHostel="ngModel" required>
            <option value="{{ h.id }}" *ngFor="let h of hostels">{{ h.name }}</option>
            
          </select>
        </div>
        <div *ngIf="roomHostel.invalid && roomHostel.touched" class="alert alert-danger">
            <div *ngIf="roomHostel.errors.required">Hostel is required</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Floor</label>
          <input type="number" class="form-control" name="txtfloor" [(ngModel)]="roomDto.floor" #rfloor="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required >
        </div>
        <div *ngIf="rfloor.invalid && rfloor.touched" class="alert alert-danger">
            <div *ngIf="rfloor.errors.required">Floor is required</div>
            
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Maximum Size</label>
          <input type="number" class="form-control" name="txtmaxSize" [(ngModel)]="roomDto.maximumSize" #rmaxSize="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required >
        </div>
        <div *ngIf="rmaxSize.invalid && rmaxSize.touched" class="alert alert-danger">
          <div *ngIf="rmaxSize.errors.required">Room size is required</div>
          
      </div>
        

        
        <div class="row">
          <input type="submit" value="Add Room" class="btn btn-success btn-block mt-2" [disabled]="!addRoomForm.valid" />
        </div>
      </form>
    </div>
  </div>
  </div>