<nav class="navbar navbar-light bg-light" style="width: 80%; margin: auto;">
  <!-- <div> -->
    <input class="search form-control m-2" type="search" placeholder="Search Warden" aria-label="Search"  [(ngModel)] = "id" style="width: 40vw;">
    <button class="btn btn-outline-success m-2" type="submit" (click) = "viewByWId()">Search by Warden Id</button>
    <button class="btn btn-outline-success m-2" type="submit" (click) = "viewByHId()">Search by Hostel Id</button>
  <!-- </div> -->
<!-- <a  routerLink='/warden/add' class="btn btn-outline-success m-2 addwarden" type="button">Add New Warden</a> -->
</nav>

<div class="row">
  <div class="alert alert-danger col-md-4 mt-2 mb-0" *ngFor="let e of errorMsgs">
    <p class="text-center">{{ e }}</p>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table" style="background-color: #cfe2ff;">
          <thead>
            <tr>
              <th scope="col">Warden Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Hostel Id</th>
              <th scope="col">Hostel Name</th>
              <th scope="col">Hostel Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let w of wardens">
              <td>{{ w.id}}</td>
              <td>{{ w.name }}</td>
              <td>{{ w.email }}</td>
              <td>{{ w.hostel_id}}</td>
              <td>{{ w.hostel_name}}</td>
              <td>{{ w.hostel_address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  
</div>