<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4 login-form-card">
      <div class="alert alert-success" *ngIf="msg!=null">
          {{ msg }}
      </div>
      <div class="alert alert-danger" *ngIf="errorMsgs.length > 0">
          <p *ngFor="let e of errorMsgs">
              {{ e }}
          </p>
      </div>
      <h3 class="text-center">Please login to continue</h3>
      <form #loginForm="ngForm" (ngSubmit)="doLogin()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="txtemail" [(ngModel)]='email' #loginEmail="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+\.[a-z]+$">
        </div>
        <div *ngIf="loginEmail.invalid && loginEmail.touched" class="alert alert-danger">
            <div *ngIf="loginEmail.errors.required">Email is required</div>
            <div *ngIf="loginEmail.errors.pattern">Email is not valid</div>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="txtpass" [(ngModel)]='password' #loginPass="ngModel" id="exampleInputPassword1" required>
        </div>
        <div *ngIf="loginPass.invalid && loginPass.touched" class="alert alert-danger">
            <div *ngIf="loginPass.errors.required">Password is required</div>
        </div>
        <div class="row">
          <input type="submit" value="Login" class="btn btn-primary btn-block mt-2" [disabled]="!loginForm.valid" />
        </div>
      </form>
    </div>
  </div>
  </div>