<div class="row page">
  
    <nav class="navbar navbar-light bg-light">
      <select class="form-select  view-option"  [(ngModel)] = "searchOption" >
        <option value="byStudentId" selected>By Student ID</option>
        <option value="byDate">By Date</option>
        <option value="byDateHostelId">By Date and hostel ID</option>
      </select>

      <div class="search-bar">
        
        <input class="search form-control m-2" type="date" placeholder="Search..." aria-label="Search"  [(ngModel)] = "date" [style.display] = "searchOption == 'byDateHostelId' ? 'inline' : 'none' ">
        <input class="search form-control m-2 val" [type]="inputSearchType()" placeholder="Search..." aria-label="Search" [(ngModel)] = "value"> <!--[(ngModel)]= " (searchOption == 'byDate') ? date : (searchOption == 'byDateHostelId') ? hid : sid"-->
        <button class="btn btn-outline-success m-2" type="submit" (click) = "viewOption()">Search</button>
      </div>

      <a  routerLink='/hostel/add' class="btn btn-outline-success m-2 addhostel" type="button">Add New Visitor</a>
    </nav>

    <div class="row justify-content-center">
      <div class="alert alert-danger col-md-4 mt-2 mb-0" *ngFor="let e of errorMsgs">
        <p class="text-center">{{ e }}</p>
    </div>
    </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table" style="background-color: #cfe2ff;">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Student Id</th>
                <th scope="col">Student Relation</th>
                <th scope="col">Visitor Address</th>
                <th scope="col">Reason</th>
                <th scope="col">Date of Visiting</th>
                <th scope="col">Hostel Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of visitor">
                <td>{{ v.id}}</td>
                <td>{{ v.visitorName }}</td>
                <td>{{ v.contactNumber }}</td>
                <td>{{ v.student.id }}</td>
                <td>{{ v.studentRelation }}</td>
                <td>{{ v.visitorAddress }}</td>
                <td>{{ v.reason }}</td>
                <td>{{ v.dateOfVisiting }}</td>
                <td>{{ v.hostel.id}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
    
  </div>
</div>