<div class="row page">
    <nav class="navbar navbar-light bg-light">
      <div>
        <input class="search form-control m-2" type="search" placeholder="Search By Hostel ID" aria-label="Search"  [(ngModel)] = "hid">
        <button class="btn btn-outline-success m-2" type="submit" (click) = "viewById()">Search</button>
      </div>
      <a  routerLink='/hostel/add' class="btn btn-outline-success m-2 addhostel" type="button">Add New Hostel</a>
    </nav>

  <div class="row">
    <div class="alert alert-danger col-md-4 mt-2 mb-0" *ngFor="let e of errorMsgs">
      <p class="text-center">{{ e }}</p>
    </div>
  </div>
<div id="viewBody" class="row">
  <div class="card" style="background-color: #cfe2ff;" *ngFor = "let h of hostels">
    <div class="con">
      <img class="card-img-top" src="../assets/hostelImg.jpg" alt="Hostel img">
      <div class="overlay">{{h.name | titlecase}}</div>
    </div>

    <div class="card-body">
      <table class="table">
        <tr>
          <td>ID</td>
          <td>{{h.id}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{h.name | titlecase}}</td>
        </tr>
        <tr>
          <td>Contact</td>
          <td>{{h.contact}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{h.type | titlecase}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{h.address}}</td>
        </tr>
        <tr>
          <td>Fee</td>
          <td>{{h.fee | currency:"INR"}}</td>
        </tr>
        <tr>
          <td>Total Floor</td>
          <td>{{h.totalFloors}}</td>
        </tr>
      </table>

    </div>
  </div>
</div>